<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="container">
    <h1>New person:</h1>
    <form th:action="@{/addperson}"
          th:object="${personform}" method="POST">
        <p>Name:
            <input type="text" th:field="*{name}"/>
        </p>
        <p>Director:
            <input type="text" th:field="*{lastname}"/>
        </p>
        <input class="button-main-page" type="submit" value="Add"/>
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color: red; font-style: italic;">
</div>
</body>
</html>