<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person List</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Person List</h1>
<h2>
    <a href="addperson">Add new person</a></br></br>
    <a href="updateperson">Update person</a></br></br>
    <a href="deleteperson">Delete person</a>
</h2>
<br/><br/>

<div class="container">
    <table class="container" border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Lastname</th>
        </tr>
        <tr th:each="person : ${persons}">
            <td th:utext="${person.id}">...</td>
            <td th:utext="${person.name}">...</td>
            <td th:utext="${person.lastname}">...</td>
        </tr>
    </table>
</div>
</body>
</html>